@inherits LayoutComponentBase
<div id="QuickView" class="white-popup mfp-hide">
    <div class="container bg-white rounded-10">
        <div class="row gx-60">
            <div class="col-lg-6">
                <div class="product-big-img">
                    <div class="img">
                        <img src="assets/img/product/product_details_1_1.jpg" alt="Product Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <p class="price">$120.85<del>$150.99</del></p>
                    <h2 class="product-title">Bosco Apple Fruit</h2>
                    <div class="product-rating">
                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                            <span style="width:100%">
                                Rated <strong class="rating">5.00</strong> out of 5 based on
                                <span class="rating">1</span> customer rating
                            </span>
                        </div><a href="shop-details.html" class="woocommerce-review-link">
                            (<span class="count">4</span>
                            customer reviews)
                        </a>
                    </div>
                    <p class="text">
                        Prepare to embark on a sensory journey with the Bosco Apple, a fruit that
                        transcends the ordinary and promises an unparalleled taste experience. These apples are
                        nothing short of nature’s masterpiece, celebrated for their distinctive blend of flavors and
                        their captivating visual allure.
                    </p>
                    <div class="mt-2 link-inherit">
                        <p>
                            <strong class="text-title me-3">Availability:</strong> <span class="stock in-stock">
                                <i class="far fa-check-square me-2 ms-1"></i>In Stock
                            </span>
                        </p>
                    </div>
                    <div class="actions">
                        <div class="quantity">
                            <input type="number" class="qty-input" step="1" min="1" max="100"
                                   name="quantity" value="1" title="Qty"> <button class="quantity-plus qty-btn">
                                <i class="far fa-chevron-up"></i>
                            </button> <button class="quantity-minus qty-btn">
                                <i class="far fa-chevron-down"></i>
                            </button>
                        </div>
                        <button class="th-btn">Add to Cart</button> <a href="wishlist.html" class="icon-btn">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                    <div class="product_meta">
                        <span class="sku_wrapper">
                            SKU: <span class="sku">Bosco-Apple-Fruit</span>
                        </span> <span class="posted_in">
                            Category: <a href="shop.html">Fresh Fruits</a>
                        </span> <span>
                            Tags: <a href="shop.html">Fruits</a><a href="shop.html">Organic</a>
                        </span>
                    </div>
                </div>
            </div>
        </div><button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div>
<div class="sidemenu-wrapper sidemenu-cart d-none d-lg-block">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget woocommerce widget_shopping_cart">
            <h3 class="widget_title">Shopping cart</h3>
            <div class="widget_shopping_cart_content">
                <ul class="woocommerce-mini-cart cart_list product_list_widget">
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#"
                           class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#">
                            <img src="assets/img/product/product_thumb_1_1.jpg" alt="Cart Image">Bosco Apple
                            Fruit
                        </a> <span class="quantity">
                            1 × <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>940.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#"
                           class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#">
                            <img src="assets/img/product/product_thumb_1_2.jpg" alt="Cart Image">Green
                            Cauliflower
                        </a> <span class="quantity">
                            1 × <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>899.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#"
                           class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#">
                            <img src="assets/img/product/product_thumb_1_3.jpg" alt="Cart Image">Mandarin orange
                        </a>
                        <span class="quantity">
                            1 × <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>756.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#"
                           class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#">
                            <img src="assets/img/product/product_thumb_1_4.jpg" alt="Cart Image">Shallot Red
                            onion
                        </a> <span class="quantity">
                            1 × <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>723.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#"
                           class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#">
                            <img src="assets/img/product/product_thumb_1_5.jpg" alt="Cart Image">Sour Red Cherry
                        </a>
                        <span class="quantity">
                            1 × <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>1080.00
                            </span>
                        </span>
                    </li>
                </ul>
                <p class="woocommerce-mini-cart__total total">
                    <strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">$</span>4398.00
                    </span>
                </p>
                <p class="woocommerce-mini-cart__buttons buttons">
                    <a href="cart.html" class="th-btn wc-forward">
                        View
                        cart
                    </a> <a href="checkout.html" class="th-btn checkout wc-forward">Checkout</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
        <input type="text" placeholder="What are you looking for?"> <button type="submit">
            <i class="fal fa-search"></i>
        </button>
    </form>
</div>
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="home-organic-farm.html"><img src="assets/img/logo.svg" alt="Frutin"></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="home-organic-farm.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="home-organic-farm.html">Organic Farm</a></li>
                        <li><a href="home-organic-food.html">Organic Food</a></li>
                        <li><a href="home-mega-shop.html">Mega Shop</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Service</a>
                    <ul class="sub-menu">
                        <li><a href="service.html">Service</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-details.html">Shop Details</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="team-details.html">Team Details</a></li>
                        <li><a href="project.html">Project Gallery</a></li>
                        <li><a href="project-details.html">Project Details</a></li>
                        <li><a href="faq.html">Faq Page</a></li>
                        <li><a href="error.html">Error Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="th-header header-layout2">
    <div class="sticky-wrapper">
        <div class="container">
            <div class="z-index-common">
                <div class="header-top">
                    <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                        <div class="col-auto d-none d-lg-block">
                            <p class="header-notice">Orders of $50 or more qualify for free shipping!</p>
                        </div>
                        <div class="col-auto">
                            <div class="header-links">
                                <ul>
                                    <li class="d-none d-xxl-inline-block">
                                        <i class="fal fa-location-dot"></i><a href="https://www.google.com/maps">
                                            8502 Preston Rd. Inglewood, Maine
                                            98380
                                        </a>
                                    </li>
                                    <li>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/">
                                                <i class="fab fa-facebook-f"></i>
                                            </a> <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                            <a href="https://www.linkedin.com/">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a> <a href="https://www.instagram.com/">
                                                <i class="fab fa-instagram"></i>
                                            </a> <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-area">
                    <div class="logo-bg"></div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <img src="https://freesvg.org/img/GS-Agriculture-logo.png" style="width:120px; height:120px;" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="home-organic-farm.html">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="home-organic-farm.html">Organic Farm</a></li>
                                            <li><a href="home-organic-food.html">Organic Food</a></li>
                                            <li><a href="home-mega-shop.html">Mega Shop</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Service</a>
                                        <ul class="sub-menu">
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="service-details.html">Service Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Shop</a>
                                                <ul class="sub-menu">
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                            <li><a href="project.html">Project Gallery</a></li>
                                            <li><a href="project-details.html">Project Details</a></li>
                                            <li><a href="faq.html">Faq Page</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav><button type="button" class="th-menu-toggle d-block d-lg-none">
                                <i class="far fa-bars"></i>
                            </button>
                        </div>
                        <div class="col-auto d-none d-xl-block ms-auto">
                            <div class="header-button">
                                <button type="button" class="simple-icon searchBoxToggler">
                                    <i class="far fa-search"></i>
                                </button> <button type="button"
                                                  class="simple-icon sideMenuToggler">
                                    <span class="badge">5</span> <i class="fa-regular fa-cart-shopping"></i>
                                </button> <a href="contact.html"
                                             class="th-btn style4">Get A Quote<i class="fas fa-chevrons-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
@Body
<footer class="footer-wrapper footer-layout2">
    <div class="shape-mockup" data-top="0" data-left="0">
        <img src="assets/img/shape/footer_shape_1.png" alt="shape">
    </div>
    <div class="shape-mockup" data-bottom="0" data-right="0">
        <img src="assets/img/shape/footer_shape_2.png"
             alt="shape">
    </div>
    <div class="container z-index-common">
        <div class="newsletter-wrap">
            <div class="newsletter-content">
                <div class="email-icon"><img src="assets/img/icon/email_1.svg" alt="Icon"></div>
                <h4 class="newsletter-title">Sign Up to Get Updates & News About Us.</h4>
            </div>
            <form class="newsletter-form">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email Address"
                           required="">
                </div><button type="submit" class="th-btn style3">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="home-organic-farm.html">
                                    <img src="assets/img/logo-footer.svg" alt="Frutin">
                                </a>
                            </div>
                            <p class="about-text">
                                We provide specialized winterization services to safeguard your
                                pool during the off-season, and when spring arrives, we handle the thorough opening
                                process.
                            </p>
                            <div class="th-social">
                                <a href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a href="https://www.twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a> <a href="https://www.linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a> <a href="https://www.whatsapp.com/">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">
                            <img src="assets/img/theme-img/title_icon.svg"
                                 alt="Icon">Categories
                        </h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="shop.html">Fresh Vegetable</a></li>
                                <li><a href="shop.html">Natural Fruits</a></li>
                                <li><a href="shop.html">Dairy Products</a></li>
                                <li><a href="shop.html">Tea & Coffee</a></li>
                                <li><a href="shop.html">Meat and Fish</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">
                            <img src="assets/img/theme-img/title_icon.svg" alt="Icon">Quick
                            Links
                        </h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="project.html">Portfolio</a></li>
                                <li><a href="faq.html">Help & FAQs</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">
                            <img src="assets/img/theme-img/title_icon.svg" alt="Icon">Contact
                            Us
                        </h3>
                        <div class="th-widget-contact">
                            <div class="info-box">
                                <div class="info-box_icon"><i class="fas fa-location-dot"></i></div>
                                <p class="info-box_text">8502 Preston Rd. Inglewood, Maine 98380</p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon"><i class="fas fa-phone"></i></div>
                                <p class="info-box_text">
                                    <a href="tel:+16326543564"
                                       class="info-box_link">+(163)-2654-3564</a> <a href="tel:+16326545432"
                                                                                     class="info-box_link">+(163)-2654-5432</a>
                                </p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon"><i class="fas fa-envelope"></i></div>
                                <p class="info-box_text">
                                    <a href="mailto:help24/7@frutin.com"
                                       class="info-box_link">help24/7@frutin.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap" data-bg-src="assets/img/bg/copyright_bg_1.png">
        <div class="container">
            <div class="row gy-2 align-items-center">
                <div class="col-md-6">
                    <p class="copyright-text">
                        Copyright <i class="fal fa-copyright"></i> 2023 <a href="home-organic-farm.html">Frutin</a>. All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="payment-img"><img src="assets/img/normal/payment_methods.png" alt="Image"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
              style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
        </path>
    </svg>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />