@page "/"
@inject IJSRuntime JsRuntime
@inject BurmeseAgricultureService BurmeseAgricultureService

<section class="overflow-hidden space bg-smoke2" id="blog-sec" style="margin-top: 80px;">
    <div class="shape-mockup" data-top="0" data-left="0">
        <img src="assets/img/shape/vector_shape_1.png" alt="shape">
    </div>
    <div class="shape-mockup" data-bottom="0" data-right="0">
        <img src="assets/img/shape/vector_shape_2.png"
             alt="shape">
    </div>
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-end">
            <div class="col-lg">
                <div class="title-area text-center text-lg-start">
                    <span class="sub-title">
                        <img src="assets/img/theme-img/title_icon.svg" alt="Icon">Blog & News
                    </span>
                    <h2 class="sec-title">Latest Updates & News</h2>
                </div>
            </div>
            <div class="col-lg-auto d-none d-lg-block">
                <div class="sec-btn">
                    <a href="blog.html" class="th-btn">
                        View More Post<i class="fas fa-chevrons-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <MudPagination SelectedChanged="PageChanged" Count="@pageCount" Class="pa-4" />
        <div class="row gy-4">
            @if (DataList is not null)
            {
                foreach (var item in DataList)
                {
                    <div class="col-xl-6">
                        <div class="blog-box">
                            <div class="blog-img"><img src="data/img/@(item.Title).jpg" alt="blog image"></div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="blog.html">
                                        <i class="far fa-user"></i>
                                        By @item.Author
                                    </a> <a href="blog.html">
                                        <i class="far fa-calendar"></i>
                                        @item.Date.ToString("dd MMMM, yyyy")
                                    </a>
                                </div>
                                <h3 class="box-title">
                                    <a href="blog-details.html">
                                        @item.Title
                                    </a>
                                </h3>
                                @* <p class="box-text">
                                    Organic foods can be more expensive due to the labor-intensive nature.
                                </p> *@
                                <a href="blog-details.html" class="th-btn">
                                    Read More<i class="fas fa-chevrons-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<div class="py-5 mt-1 bg-smoke2">
    <div class="container th-container py-md-4">
        <div class="swiper th-slider" id="blogSlider1"
             data-slider-options='{"breakpoints":{"0":{"slidesPerView":2},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"3"},"992":{"slidesPerView":"4"},"1200":{"slidesPerView":"5"},"1400":{"slidesPerView":"6"}}}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_1.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_2.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_3.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_4.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_5.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_6.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_7.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_1.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_2.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_3.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_4.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_5.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_6.svg" alt="Brand Logo"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-box"><img src="assets/img/brand/brand_1_7.svg" alt="Brand Logo"></div>
                </div>
            </div>
        </div>
    </div>
</div>